/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'modals.css';
@import 'icons.css';
@import 'containers.css';
@import 'buttons.css';

html,
body {
    padding: 0;
    margin: 0;
    background: transparent;
    height: 100% !important;
}

/* Use OS default fonts */
body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    background-color: #3C404B ;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    background-color: #3C404B;
    outline: none;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color:  #272A31;
}

.noselect{
    user-select: none;
    -webkit-user-select: none;
}

.noselect > * {
    user-select: none;
    -webkit-user-select: none;
}

.select {
    user-select: default;
    -webkit-user-select: default;
}

.header{
    color: white !important;
}

.active-step-title{
    color: rgb(224, 223, 223);
    margin-top: 10px !important;
}

.inactive-step-title{
    color: rgb(77, 77, 77) ;
    margin-top: 10px !important;
}

.hex-trigger, .no-hex-trigger{
    width: 250px !important;
    background-color: #1E8449 !important;
    color: white !important;
}

#options {
    height: 100% !important;
    padding: 0;
    margin-bottom: 0 !important;
}

.centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.opt {
    color: #fff;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px,
     rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px,
      rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px,
       rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px,
        rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px,
         rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px,
          rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.horizontal-line {
    position: relative;
    top: -76px;
    background-color: #5f5f5f;
    width: 100px;
    height: 1px !important;
    padding: 0px 0 0 0 !important;
    left: -50px;
    margin-right: -100px;
}

.main-website-redir, .github-redir,
.fb-redir, .yt-redir, .pointer,
.shop-website-redir, .flag {
    cursor: pointer;
}

.eras-font{
    display: inline-block;
    font-weight: 380;
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
    font-size: large;
    color: white;
}

.segment{
    color: white;
    position: relative;
    background-color: #272A31 !important;
    text-align: center;
    margin-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 5px;
}

.welcome-segment{
  width: 400px !important;
}

.faqheader{
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 40px;
}

.downloadheader{
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}
