.button{
    margin-bottom: 10px !important;
    /* margin-left: auto !important;
    margin-right: auto !important; */
    text-align: center !important;
}

.kill-avr-btn {
    background-color: #ff0000 !important;
    color: white;
}

.active-btn{
    color: white !important;
    background-color: #1E8449 !important;
    transition: background-color 1s ease;
}

.inactive-btn{
    color: rgb(200,200,200) !important;
    background-color: grey !important;
}

.step-btn {
    width: 130px !important;
    margin-top: 13px !important;
}

.choose-file, .baudrate-dropdown, .sensor-dropdown {
    margin-right: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
}

.exit-app-btn{
    margin-right: 8px !important;
}

.ui.labeled.icon.button {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dropdown {
    /*width: 70%;*/
    margin-right: 0 !important;
}

@media only screen and (min-width: 768px) {
    .ui.scrolling.dropdown .menu {
        max-height: 10rem !important;
    }
}

.language-dropdown{
    position: absolute !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    width: 150px;
}
