.flags-container {
    padding: 0 !important;
    margin-top: 3% !important;
    margin-bottom: 5%;
}

.list-wrapper{
    display: flex;
    margin-top: 20% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center;

}

.box {
    display: flex;
    height: 100%;
}

.step {
     text-align: center;
     width: 140px;
}

.welcome-wrapper{
    display: block;
    position: relative;
    margin-bottom: auto;
    margin-top: 1%;
}

.welcome-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.avrdude_output_wrapper {
    height: 120px !important;
    caret-color: red;
}

.avrdude_output_wrapper > .ui.form {
    height: 100% !important;
}

.avrdude_output {
    display: block;
    position: relative;
    width: 80% !important;
    height: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    white-space: nowrap;
    overflow: auto;
    color: white !important;
    text-shadow: 1px 1px rgb(56, 56, 56);
    background-color: rgb(107, 107, 107) !important;
}

.avrdude_output::selection {
    text-shadow: 0px 0px !important;
    background-color: rgb(255, 255, 255)
}

.error-port-message {
    color: rgb(158, 36, 36) !important;
}

.error-port-message > .content > .header {
    color: red !important;
}